@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to top, #4C9385, #476158);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #394e479a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #173750;
    text-align: center;
    text-shadow: 1px 1px 2px #0d1f2da8;
}

h2{
    color: #037CC5;
}

p {
    text-align: justify;
}